body {
	background-color: #111;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
}

h5 {
	color: #171717;
}

#grid {
	display: flex;
	flex-wrap: wrap;
	height: 808px;
	width: 808px;
	margin: 0px auto;
}

.card {
	margin: 1px;
	opacity: 0.9;
}

.card:hover {
	cursor: pointer;
	opacity: 1;
}

.empty {
	margin: 1px;
}
