body {
	background-color: #111;
	color: #CCC;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	font-size: 16px;
}

h5 {
	color: #171717;
}

#display {
	margin: 0px auto;
	border: 1px solid #333;
	background-color: #000;
	background-image: url("images/space.png");
}

#display.error {
	border: 1px solid #900;
}

#display.success {
	border: 1px solid #073;
}

#sprites {
	display: none;
}

.emphasized {
	font-weight: bold;
}

.title {
	padding: 10px 0px;
	font-size: 20px;
	font-weight: bold;
}

#controlPanel {
	width: 786px;
	margin: 0px auto;
	display: grid;
	grid-template-columns: 190px auto;
	gap: 5px;
	padding: 5px 7px;
	text-align: left;
	align-items: center;
	border: 1px solid #333;
}

#message {
	grid-row: span 2;
}