body {
	background-color: #111;
	color: #CCC;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}

h5 {
	color: #171717;
}

#grid {
	margin: 0px auto;
	background-color: #222;
	position: relative;
	background-image: url("images/horizon.jpg");
}

#doodler {
	width: 60px;
	height: 75px;
	background-image: url("images/monster.png");
	position: absolute;
}

.platform {
	width: 85px;
	height: 15px;
	background-image: url("images/platform.png");
	position: absolute;
}

#controls {
	text-align: left;
	width: 400px;
	margin: 0px auto;
}

th, td {
	padding: 0px 5px;
}