body {
	background-color: #111;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
}

h5 {
	color: #171717;
}

#grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	width: 618px;
	height: 618px;
	margin: 0px auto;
}

.square {
	width: 200px;
	height: 200px;
	border: 1px solid #222;
}

.mole {
	background-image: url("face.png");
	background-size: cover;
}
