body {
	background-color: #333;
	color: #CCC;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}

h5 {
	color: #373737;
}

#grid {
	background-color: #888;
	border: 1px solid #999;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

.brick {
	position: absolute;
}

.primary {
	background-color: #600;
}

.secondary {
	background-color: #000;
}

.ball {
	position: absolute;
	border-radius: 50%;
	background-color: #FFF;
}

#paddle {
	position: absolute;
	border-radius: 10px;
	background-color: #000;
}

#controls {
	text-align: left;
	width: 680px;
	margin: 0px auto;
}

th, td {
	padding: 0px 5px;
}