body {
	background-color: #111;
	color: #CCC;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}

h5 {
	color: #171717;
}

#display {
	background-color: #222;
	border: 1px solid #333;
	margin: 0px auto;
	width: 800px;
	padding: 10px;
}