body {
	background-color: #111;
	color: #CCC;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}

h5 {
	color: #171717;
}

#display {
	margin: 0px auto;
	background-color: rgb(46, 23, 1);
	position: relative;
	overflow: hidden;
	background-image: url("images/void.png");
	background-repeat: repeat;
}

#dopefish {
	background-image: url("images/dopefish.gif");
	position: absolute;
	z-index: 3;
}

.slice {
	display: grid;
	grid-template-rows: 10px auto 10px;
	width: 15px;
	height: 100%;
	bottom: 0px;
	position: absolute;
	background-image: url("images/voids.png");
}

.wall {
	background-image: url("images/walls.png");
}

.bottom.wall {
	background-position: top;
}

.top.wall {
	background-position: bottom;
}

.bottom.oneLeaf {
	background-position: bottom;
	background-image: url("images/bottom-plant-0.gif");
	background-repeat: no-repeat;
	z-index: 4;
}

.bottom.twoLeaf {
	background-position: bottom;
	background-image: url("images/bottom-plant-1.gif");
	background-repeat: no-repeat;
	z-index: 4;
}

.top.oneLeaf {
	background-position: top;
	background-image: url("images/top-plant-0.gif");
	background-repeat: no-repeat;
	z-index: 4;
}

.top.twoLeaf {
	background-position: top;
	background-image: url("images/top-plant-1.gif");
	background-repeat: no-repeat;
	z-index: 4;
}

.jawbreaker {
	width: 15px;
	height: 15px;
	background-image: url("images/jawbreaker.gif");
	position: absolute;
	z-index: 2;
}

#controls {
	text-align: left;
	width: 400px;
	margin: 0px auto;
}

th, td {
	padding: 0px 5px;
}
